.aboutImg {
  height: 100vh;
  width: 55%;
  background-image: url(../img/moneyshot.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}
.aboutInfo {
}
.aboutInfo h3,
.aboutInfo h6 {
  color: #3c3c3c;
  font-family: 'raleway', sans-serif;
  margin-left: 15px;
}
.aboutInfo h3 {
  font-weight: 600;
  font-size: 45px;
}
.aboutInfo h6 {
  font-weight: 200;
  font-size: 30px;
  line-height: 45px;
}