.aboutImg {
  height: 100vh;
  width: 55%;
  background-image: url(../img/moneyshot.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}
.aboutInfo {
}
.aboutInfo h3,
.aboutInfo h6 {
  margin-left: 15px;
}
.aboutInfo h3 {
  font-family: 'dosis', sans-serif;
  font-weight: 400;
  font-size: 65px;
  color: #232323;
  margin-top: 23%
}
.aboutInfo h6 {
  font-family: 'open sans', sans-serif;
  font-size: 30px;
  line-height: 45px;
  font-weight: 200;
  color: #3c3c3c;
}