body {
  font-family: 'raleway', sans-serif;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.contain {
    margin-left: 60px;
}


@media all and (max-width: 768px) {
  
  .contain {
    margin-left: 0px;
  }
  
}